$white: #fff;
$black: #000;


body {
    background: $white;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.body-container {
    display: flex;
    .main-left {
        header {
            .logo{
                &-content{
                    height: 20px;
                    width: 75px;
                    background: $black;
                    border-radius: 10%;
                }
            }
            nav {
                ul {
                    display: flex;
                    li {
                        list-style: none;
                    }
                }
            }
        }
    }

    .main-right {
        img {
            width: 100%;
            height: 100%;
        }
    }
}